{% extends 'partials/base.twig' %}

{% block content %}
    <h2 class="page-title">
        {% if session.user is defined %}
            Bienvenue {{ session.user.prenom|default(session.user.email)|e }}
        {% else %}
            Bienvenue sur Lebonplan
        {% endif %}
    </h2>

    <p>Votre site d'annonces en ligne pour acheter et vendre en toute simplicité.</p>

    <h3>Catégories</h3>
    <ul class="categories">
        <li><a href="../templates/immobilier.twig">Immobilier</a></li>
        <li><a href="../templates/vehicule.twig">Véhicules</a></li>
        <li><a href="../templates/vetements.twig">Vêtements</a></li>
        <li><a href="../templates/multimedia.twig">Multimédia</a></li>
        <li><a href="../templates/maison.twig">Maison</a></li>
        <li><a href="../templates/loisirs.twig">Loisirs</a></li>
        <li><a href="../templates/services.twig">Services</a></li>
    </ul>

    <h3>Derniers articles ajoutés</h3>
    <div class="table-container">
        <table class="articles-table">
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Localisation</th>
                    <th>Vendeur</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.intitule }}</td>
                        <td>{{ article.localisation }}</td>
                        <td>{{ article.vendeur }}</td>
                        <td>{{ article.prix }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun article disponible pour le moment.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="../public/js/interaction.js"></script>
{% endblock %}